/*土豆泥商城 scss*/

.login_mall {
    background: #293A4E;
    width: 100%;
    height: 100%;
    .login-root {
        width: 698px;
        margin: 0px auto;
        padding-top: 100px;
        .login-logo {
            margin: 0px auto;
            background: url(../img/login-img.png) no-repeat;
            height: 68px;
            width: 68px;
            margin-bottom: 25px;
        }
        .login-text {
            margin: 0px auto;
            width: 350px;
            height: 41px;
            margin-bottom: -20px;
            background: url(../img/xinwenshang.png) no-repeat;
        }
        .login-oval {
            margin: 0px auto;
            background: url(../img/oval-3.png) no-repeat;
            height: 34px;
            width: 577px;
        }
        .login-content {
            margin: 0px auto;
            width: 390px;
            height: 298px;
            background: white;
            .login-content-title {
                background: #F7F7F7;
                padding: 12px;
                margin-bottom: 20px;
                .text {
                    font-size: 16px;
                    font-family: "微软雅黑";
                    font-weight: 600;
                    color: #464646;
                    display: inline-block;
                }
                .tip {
                    i {
                        margin-right: 5px;
                    }
                    color: #00D8C9;
                    float: right;
                    display: inline-block;
                }
            }
            .ant-form-explain {
                display: none;
            }
            .ant-form-item {
                padding: 0px 20px 0px 20px;
            }
            .ant-input {
                height: 40px;
                border-radius: 0px;
            }
            .get-sms {
                position: relative;
                float: right;
                margin-top: -36px;
                z-index: 100;
                margin-right: 10px;
                .ant-btn {
                    border-radius: 0px;
                }
            }
            .ant-form-item {
                margin-bottom: 17px;
            }
            .login-form-forgot {
                float: right;
                color: #578CC7;
            }
            .login-button {
                width: 100%;
                height: 46px;
            }
        }
    }
}


/*土豆泥scss*/

.login {
    opacity: 0.89;
    background: #00D9CA;
    width: 100%;
    height: 100%;
    .login-root {
        width: 698px;
        margin: 0px auto;
        padding-top: 100px;
        .login-logo {
            margin: 0px auto;
            background: url(../img/login-img.png) no-repeat;
            height: 68px;
            width: 68px;
            margin-bottom: 25px;
        }
        .login-text {
            margin: 0px auto;
            width: 254px;
            height: 41px;
            margin-bottom: 10px;
            background: url(../img/login-title.png) no-repeat;
        }
        .login-oval {
            margin: 0px auto;
            background: url(../img/oval.png) no-repeat;
            height: 14px;
            width: 700px;
        }
        .login-content {
            margin: -7px auto;
            width: 390px;
            height: 298px;
            background: white;
            .login-content-title {
                background: #F7F7F7;
                padding: 12px;
                margin-bottom: 20px;
                .text {
                    font-size: 16px;
                    font-family: "微软雅黑";
                    font-weight: 600;
                    color: #464646;
                    display: inline-block;
                }
                .tip {
                    i {
                        margin-right: 5px;
                    }
                    color: #00D8C9;
                    float: right;
                    display: inline-block;
                }
            }
            .ant-form-explain {
                display: none;
            }
            .ant-form-item {
                padding: 0px 20px 0px 20px;
            }
            .ant-input {
                height: 40px;
                border-radius: 0px;
            }
            .get-sms {
                position: relative;
                float: right;
                margin-top: -36px;
                z-index: 100;
                margin-right: 10px;
                .ant-btn {
                    border-radius: 0px;
                }
            }
            .ant-form-item {
                margin-bottom: 17px;
            }
            .login-form-forgot {
                float: right;
                color: #578CC7;
            }
            .login-button {
                width: 100%;
                height: 46px;
            }
        }
    }
}


/*供应商scss*/

.login_boss {
    opacity: 0.89;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    .login-root {
        width: 698px;
        margin: 0px auto;
        padding-top: 100px;
        .login-logo {
            margin: 0px auto;
            background: url(../img/login-img.png) no-repeat;
            height: 68px;
            width: 68px;
            margin-bottom: 25px;
        }
        .login-text {
            font-family: "微软雅黑";
            text-align: center;
            font-size: 32px;
            color: #000000;
            letter-spacing: -0.35px;
        }
        .login-content {
            margin: 20px auto;
            width: 390px;
            height: 298px;
            background: white;
            border: 1px solid #bbb;
            .login-content-title {
                background: #F7F7F7;
                padding: 12px;
                margin-bottom: 20px;
                .text {
                    font-size: 16px;
                    font-family: "微软雅黑";
                    font-weight: 600;
                    color: #464646;
                    display: inline-block;
                }
                .tip {
                    i {
                        margin-right: 5px;
                    }
                    color: #00D8C9;
                    float: right;
                    display: inline-block;
                }
            }
            .ant-form-explain {
                display: none;
            }
            .ant-form-item {
                padding: 0px 20px 0px 20px;
            }
            .ant-input {
                height: 40px;
                border-radius: 0px;
            }
            .get-sms {
                position: relative;
                float: right;
                margin-top: -36px;
                z-index: 100;
                margin-right: 10px;
                .ant-btn {
                    border-radius: 0px;
                }
            }
            .ant-form-item {
                margin-bottom: 17px;
            }
            .login-form-forgot {
                float: right;
                color: #578CC7;
            }
            .login-button {
                width: 100%;
                height: 46px;
            }
        }
    }
}