.mall-nav-bar{
    .earch-icon{
        marginRight: 0.32rem
    }
    .am-navbar-title{
        .am-search{
            max-width: 6rem;
            min-width: 5rem;
            background: none;
        }
    }
    
}
